@charset "UTF-8";

/*全体*/
html {
    font-size: 100%;
}

/*ヘッダー*/

.hint-image{
    margin: 0 0 0 auto;
    height: 100%;
    width: 5%;
}
.moving-image {
    position: absolute;
    top: 30%;
    right: 120%;
    width: 50%;
    height: auto;
    transform: translateY(-50%);
    opacity: 0;
    animation: fadeInRight 1s ease-in-out forwards;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.show {
    right: 0;
    visibility: visible;
}

/*メイン*/
/*プライマリー*/
.main-nav{
    display: flex;
}

.page-main-wrapper{
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: 10%;
}

.header__inner{
    display: flex;
}

.primary{
    margin-left: 0;
}
.container {
    margin: 0; /* 親要素のマージンを0に設定 */
    padding: 0;
}




#explanation{
    width: 510px;
    height: 290px;
    border-radius: 10px;
    border: 1px solid #000000;
}
.explanation-container{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-color: gray white;
}
#word-container{
    height: 50px;
    width: 50%;
    border-bottom: solid #000000;
}
.word-font{
    font-size: 30px;
}
.highlight:hover{
    color: black;
    text-decoration: underline;
}
.link{
    color: #0000EE;
}
.link:hover{
    text-decoration: underline;
}
.lyrics-container .active .highlight {
    color: red; /* ハイライトの色を指定 */
}
.lyrics-container .active .highlight:hover{
    color: #f0908d;
    text-decoration: underline;
}


/*セカンダリー*/
#secondary{
    width: 100%;
    height: 80vh;
    background-color: #eee;
    padding: 20px;
}

#secondary-inner{
    width: 95%;
    height: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: scroll;
}#secondary-inner::-webkit-scrollbar {
    display: none;
}
.lyrics-container{
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 300px;
    padding-bottom: 300px;
}
.lyric-line{
    font-size: 30px;
    color: gray;
}

#lyrics{
    padding-left: 0;
    padding-right: 0%;
}

.lyric-line.active {
    color: black;
    font-weight: bold;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;/*日本語歌詞を一行のみにするならここのピクセルを変更*/
}


