@charset "UTF-8";

.main-nav{
    display: flex;
}
html, body {
    margin: 0;
    height: 100%;
    background-color: #EEDDBB;
}
/*ヘッダー*/
.header {
    height: 60px; /* ヘッダーの高さを調整 */
    background-color: #EEDDBB;
}

/*メインコンテンツ*/
/*モーダルウィンドウ*/
.modal {
    
    position: fixed;
    z-index: 1;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    }
    
    .modal-content{
    background-color: white;
    position: absolute;
    bottom: 0; 
    right: 0;
    width: 80%;
    height: 80%;
    }
.page-main-wrapper {
    position: absolute;
    top: 60px; /* ヘッダーの高さを引く */
    left: 0;
    width: 60vw;
    height: 60vh;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
}
#main-question-container{
    height: 80%;
}
#closeBtn{
    position: absolute;
    right: 0;
    bottom: 0; 
}
.circle{
    width: 50px;
    height: 50px;
    border: 10px solid #ff0000; /* 円の太さと色 */
    border-radius: 50%;
    box-sizing: border-box; 
}
.cross{
    width: 50px;
    height: 50px;
    background-color: white;
    position: relative;
}.cross::before,
.cross::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: blue;
}

.cross::before {
    transform: rotate(45deg);
}

.cross::after {
    transform: rotate(-45deg);
}

#trueorfalse-container{
    top: 80%;
    height: 60vh;
    overflow-y: scroll;
}


#display-explanation-container{
    position: absolute;
    top: 80%;
    height: 10%;
    right: 0;
}#display-explanation{
    height: 100%;
    font-weight: bold;
}
#next-question-container{
    position: absolute;
    top: 90%;
    height: 10%;
    right: 0;
}#next-question{
    height: 100%;
    font-weight: bold;
}#last{
    height: 100%;
    font-weight: bold;
}

.rev{
    font-size: 20px;
}

.highlight{
    color: red;
}

.answers{
    font-size: large;
    align-items: flex-end;
}
.answer {
    position: relative; /* またはabsolute */
    z-index: 1; /* すべての回答要素に共通のz-index */
}

.answer:hover {
    font-weight: bold;
    z-index: 2; /* カーソルが乗ったときにz-indexを上げる */
}